<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlRjJ68fQepkojKqf_Rqu987c1fhWT3xg</string>
	<key>GCM_SENDER_ID</key>
	<string>959257585633</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>pblproject-b8b41</string>
	<key>STORAGE_BUCKET</key>
	<string>pblproject-b8b41.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959257585633:ios:22cfa9f0ef532e961e54a0</string>
</dict>
</plist>